{% extends "base.html" %}

{% block title %}
{{ object.shortcode }} | {{ block.super }} 
{% endblock title %}

{% block content %}
<div class='text-center'>
    <h1  style="color: yellow;">Exists Already</h1>
    <p style="color: pink;">{{ object.url }}</p>
    {% if object.clickevent.count %} 
        <p>Count: {{ object.clickevent.count }}</p> 
    {% endif %}
    <p><a class='btn btn-link'  href='{{ object.get_short_url }}'>{{ object.get_short_url }}</a></p>
    <a class='btn btn-danger' href='/'>+ New URL</a>
</div>
{% endblock content %}
